<PageTitle>
    Sound Test
</PageTitle>

<MudContainer>
    <MudSelect T="Types"
               @bind-Value="@Type"
               Label="Sound Type">
        @foreach (var t in Enum.GetValues<Types>())
        {
            <MudSelectItem Value="t" />
        }
    </MudSelect>
</MudContainer>

<MudContainer>
    <MudSlider @bind-Value="@Frequency"
               Variant="Variant.Filled"
               Min="@MinFrequency"
               Max="@MaxFrequency">
        Frequency = @Frequency.ToString()
    </MudSlider>
</MudContainer>

<MudContainer>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="@(isPlaying ? StopPlaying : StartPlaying)">
        @(isPlaying ? "Stop" : "Start")
    </MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Secondary"
               OnClick="SetComfortableToneAsync">
        Comfortable Tone
    </MudButton>
</MudContainer>

@if (AudioDevices is { Count: > 0 })
{
    <MudContainer>
        <select @bind="@SelectedDeviceId" @bind:after="@AudioDeviceChanged">
            @foreach (var device in AudioDevices)
            {
                if (device is { DeviceId: not null, Label: not null })
                {
                    if (device.IsDefault is true)
                    {
                        <option value="@device.DeviceId" selected>
                            @device.Label
                        </option>
                    }
                    else
                    {
                        <option value="@device.DeviceId">
                            @device.Label
                        </option>
                    }
                }
            }
        </select>
    </MudContainer>
}

<MudContainer>
    <MudTextField @bind-Value="@soundLink"
                  ReadOnly="@true"
                  Label="Sound Link"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.ContentCopy"
                  OnAdornmentClick=@CopySoundLink />
</MudContainer>
