<PageTitle>
    Sound Test
</PageTitle>

<MudStack Spacing="3"
          Class="mt-3">

    <MudSelect T="@Types"
               @bind-Value="@Type"
               Label="Sound Type">
        @foreach (var t in Enum.GetValues<Types>())
        {
            <MudSelectItem Value="t"/>
        }
    </MudSelect>

    <MudSlider @bind-Value="@Frequency"
               Variant="@Variant.Filled"
               Min="@MinFrequency"
               Max="@MaxFrequency">
        Frequency = @Frequency.ToString()
    </MudSlider>

    <MudStack Row
              Spacing="3">
        <MudButton Variant="@Variant.Filled"
                   Color="@Color.Primary"
                   OnClick="@(isPlaying ? StopPlaying : StartPlaying)">
            @(isPlaying ? "Stop" : "Start")
        </MudButton>
        <MudButton Variant="@Variant.Filled"
                   Color="@Color.Secondary"
                   OnClick="@SetComfortableTone">
            Comfortable Tone
        </MudButton>
        <MudButton Variant="@Variant.Filled"
                   Color="@Color.Secondary"
                   OnClick="@SetNeuroTone">
            Neuro Tone
        </MudButton>
    </MudStack>

    @if (AudioDevices is { Count: > 0 })
    {
        <select @bind="@SelectedDeviceId"
                @bind:after="@AudioDeviceChanged">
            @foreach (var device in AudioDevices)
            {
                if (device is not { DeviceId: not null, Label: not null })
                {
                    continue;
                }

                if (device.IsDefault)
                {
                    <option value="@device.DeviceId"
                            selected>
                        @device.Label
                    </option>
                }
                else
                {
                    <option value="@device.DeviceId">
                        @device.Label
                    </option>
                }
            }
        </select>
    }

    <MudTextField @bind-Value="@soundLink"
                  ReadOnly
                  Label="Sound Link"
                  Variant="@Variant.Outlined"
                  Adornment="@Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.ContentCopy"
                  OnAdornmentClick="@CopySoundLink"/>
</MudStack>
