@using static SoundTest.Constants

<PageTitle>Sound Test</PageTitle>
<h3>Sound Test</h3>
<div>
    <label for="typeInput">Type</label>
    <select id="typeInput"
            @bind="Type">
        @foreach (Types type in Enum.GetValues<Types>())
        {
            <option value="@type">@type.ToString()</option>
        }
    </select>
</div>
<div>
    <label for="frequencyInput">Frequency</label>
    <input id="frequencyInput"
           type="range"
           min="@Constants.MinFrequency"
           max="@Constants.MaxFrequency"
           @bind=Frequency
           @bind:event="oninput" />
    <label>Frequency=@Frequency.ToString()</label>
</div>
<div>
    <button id="startStopButton"
            class="btn btn-primary"
            @onclick="@(isPlaying ? StopPlaying : StartPlaying)">
        @(isPlaying ? "Stop" : "Start")
    </button>
    <button id="comfortButton"
                class="btn btn-secondary"
                @onclick="SetComfortableTone">Comfortable Tone</button>
</div>
<div>
    <label for="soundLink">Sound Link:</label>
    <br />
    <label id="soundLink">@soundLink</label>
    <button id="copySoundLinkButton"
            class="btn btn-primary"
            @onclick="CopySoundLink">
        Copy
    </button>
</div>
